.detail{
    position: relative;
}

@keyframes showNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.notify-success{
    background-color: #fff;
    width: 360px;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 38%;
    padding-top: 15px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 8px;
    color: #0ab39c;
    box-shadow:  0 5px 10px #1e20251f;
    animation: showNotifyGrowth ease-in 0.2s;

}
.success-icon{
    color: green;
}
.success-name{

}


.notify-faild{
    background-color: #fff;
    width: 360px;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 38%;
    padding-top: 15px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 8px;
    color: #ff004c;
    box-shadow:  0 5px 10px #1e20251f;
    animation: showNotifyGrowth ease-in 0.2s;
}

.success-name{
    margin-bottom: 30px;
}
.faild-icon{
    color: red;
}
.faild-name{
}

.img-title{
    margin-top: 30px;
}

.img{
    width: 100%;
}

.infor-wrap{
    margin-left: 50px;
}

.infor-wrap{

}

.infor-name{
    margin-top: 40px;

}

.infor-id{
    margin: 60px 0;
    font-size: 20px;
}

.infor-price{
    font-size: 22px;
    font-weight: 550;
    color:  #f15e2c;
}

.infor-select-wrap{
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
}

.select-size-wrap{
    // margin-bottom: 20px;
    // outline: none;
    // border: solid 1px #ccc;
    // padding-left: 15px;
    // font-size: 20px;
    // border-radius: 2px;
    // width: 170px;
    // height: 35px;
}

.size-text{
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.color-select,
.size-select{
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: solid 1px #ccc;
    margin: 0 10px;
}

.select-color-wrap{

}

.color-text{
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}



.input-wrap{

}

.quantity-text{

}

.quantity-input{
    display: block;
    margin-bottom: 20px;
    outline: none;
    border: solid 1px #ccc;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 2px;
    width: 170px;
    height: 35px;
}
.submit-detail-pay,
.submit-detail{
    display: block;
    
    height: 60px;
    outline: none;
    border: none;
    padding-left: 15px;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

.submit-detail{
    background-color: #000;
    width: 340px;
}

.submit-detail-pay{
    background-color: #f15e2c;
    width: 420px;
}

.submit-detail-contain{
    display: flex;
    align-items: center;
}

.star{
    height: 60px;
    width: 74px;
    background-color: #000;
    margin: 18px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-heart{
    font-size: 50px;
    color: #f15e2c;
}
